.center {
  margin: auto;
  display: block;
  text-align: center;
  width: 50%;
}
html {
  background-color: black;
}
.logo {
  position: relative;
  top: 100px;
  width: 100px;
  height: 100px;
}
.barContainer {
  position: relative;
  top: 350px;
  width: 100% !important;
}
.bar {
  border-radius: 5px;
  padding: 0px; 
  height: 6px; 
}
#macProgress {
  border: 1px solid lightgrey;
  background-color: #888888;
  width: 300px;
}

#macBar {
  opacity: 0;
  position: relative;
  width: 0%;
  background-color: #FFFFFF;
}
